body {
	background-color: #9999FF;
	font-family: "Courier Regular",Courier, Helvetica, Arial, sans-serif;
	font-size: 15px;
}
.header {
	border: 1px solid #9999FF;
	border-radius: 10px 10px 0 0;
	height: 250px;
	background-color: #CCCCFF;
	margin : 5px;
}
.navbar {
	float: left;
	position: absolute;
	top: 220px;
}
.display {
	width: 100%;
	float: left;
	position: relative;
}
ul {
	list-style: none;
	
}
ul li {
	display: inline-block;
}
ul li:hover  {
	border: #9999FF;
	border-radius: 5px;
	background: white;
	text-decoration: none;
}
ul li a {
	text-decoration: none;
	color: #9999FF;
}
ul li a:hover {
	text-decoration: none;
	color: #CCCCFF;
}
img {
border-radius: 100%;
width: 150px;
height: 150px;
position: absolute;
left: 50%;	
margin-left: -70px;
top: 0px;
z-index: 2;
}

