body {
    font-family: 'Helvetica Neue', arial, helvetica, helve, sans-serif;
    background-color: #00CCFF;
    background: url('img/Lighthouse.jpg')  no-repeat center 50px fixed;
    border-image-width: 10px;
    background-size: cover;
}
h4{
	color: white;
	font-size: 30px;
}
p {
	font-size: 25px;
	color: black;
	font-style:italic;
}
.header {
	color: white;
	font-size: 30px;
}
#users li {
	display: inline-block;
	color: white;
	}
#users li a{
	color: black;
	padding: 3px;
	text-align: center;
	}	

#users li a div {
	padding: 5px;
	text-align: center;
	height: 20px;
	background: #CCCCFF;
	text-align: center;
	border-radius: 3px;

}

#content {
	border-radius: 10px;
	height: 270px;
	margin: 5px;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    width: 280px;
    float: right;
}

#registration {
	border-radius: 10px;
	height: 270px;
	margin: 5px;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    width: 280px;
    float: right;
}
#content p, h4 {
	margin: 3%;
    font-weight: bold;
    color: #000000;
}

#registration p, h4 {
	margin: 3%;
    font-weight: bold;
    color: #000000;
}
#registration a button {
	margin: 5%;
	font-weight: bold;
    color: #000000;
}

blockquote {
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  padding: 10px
}
blockquote p {
  display: inline;
}
blockquote footer {
  text-align: left;
  padding: 20px;
}

ul {
	padding: 0px;
}
ul li {
	list-style: none;
}

ul li a {
	text-decoration: none;
}
#nesting {
	z-index: 2;
	background-color: green;
	height: 200px;
}
.switch {
	color: blue;
}
.form-display.hide{
	display: none;
}

#forms {
	padding: 30px;
}

#footer, #about-me:after {
  height: 142px; 
}

#footer, #content:after {
  height: 142px; 
}

#footer {
	background: black;
	width: 100%;
	height: 70px;
	bottom: 0%;
	border-radius: 3px;
	padding: 0px;
	margin: 0px;
	bottom: 0;
	overflow:hidden;
	clear: both;
	position: fixed;
	-webkit-backface-visibility:hidden; /*Most Important*/

}
#footer p {
	font-size: 15px;
	color: white;
	float: right;
	margin: 20px;
}
img {
border-radius: 100%;
width: 150px;
height: 150px;
position: absolute;
right: 3%;
top: 9%;
z-index: 1;
}
#empty {
width: 320px;
height: 170px;	
}
#about-me {
	position: relative;
	border-radius: 10px;
	height: 270px;
	padding: 10px;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    width: 400px;
	margin: 3%;
    font-weight: bold;
    color: #000000;
    top: 30%;
}
